:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #fcf2bd;
  --font-family: "Roboto", sans-serif;
  --section-bg: #fffbe7;
  --card-bg: #fff;
  --border-radius: 16px;
  --shadow: 0 2px 16px rgba(0,0,0,0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 1, 0, 0.5);
  align-items: center;
  border-radius: 5px 5px 16px 16px;
}

nav .left img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
}

nav .left span{
  font-size: 1.5rem;
  color: var(--text-color);
}

nav .left a {
  color: var(--text-color);
  font-size: 22px;
}

nav .right a {
  color: var(--text-color);
  font-size: 18px;
  margin-left: 15px;
}

nav .right span {
  margin-left: 3px;
}

main .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  /* padding: 20px; */
  gap: 20px;
  flex-wrap: wrap;
}


main .links a span {
  margin-left: 3px;
}

.hero .headshot img {
  width: 180;
  height: 180px;
  border-radius: 50%;
}

.hero-text {
  flex: 1 1 300px;
  min-width: 250px;
}

.headshot{
  flex: 0 0 300px;
}


.hero-text h1{
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.hero-text h2{
  font-size: 1.5rem;
  font-weight: 500;
  color: #4a76ee;
  margin-bottom: 18px;
}

.hero .hero-text p {
  color: #4a4a4a;
  margin-bottom: 16px;
}

.contact-info{
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1rem;
}

.contact-info span i{
  margin-right: 5px;
}

.links a {
  display: inline-block;
  margin-right: 12px;
  padding: 3px 5px;
  border: 2px solid #804237;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 500;
  color: var(--link-color);
  transition: background 0.5s, color 0.5s;
  margin-bottom: 20px;
}

.hero .hero-text .links a:hover {
  background-color: #cecaca;
}

.section{
  background: var(--section-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 32px 24px;
  margin-bottom: 25px;
}

.section h2{
  font-size: 2rem;
  color: #4a76ee;
  margin-bottom: 10px;
  font-weight: 700;
}

.timeline{
  border-left: 3px solid #61a712;
  margin-left: 10px;
  padding-left: 24px;
}

.timeline-item ul{
  margin-left: 20px;
  margin-bottom: 5px;
}

.project-card{
  margin-bottom: 10px;
}

.footer{
  color: #888;
  text-align: center;
  padding: 18px 0 10px 0;
}